@model D_Squared.Web.Models.OvertimeReportingSearchViewModel
<div class="jumbotron" style="background-image: url('/Content/images/lightwood-bg.jpg'); padding-bottom:5px; padding-top:20px; margin-bottom:10px">
    <div class="row">
        <div class="col-md-4">
            <div style="max-width:500px; display: block; margin: 0 auto;float:left;">
                <img src="~/Content/images/millers_d2_logo.png" style="max-width:300px;" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center" style="display: block; margin: 0 auto; max-width:500px">
                <h3>Labor Reports</h3>
                <p class="lead">
                    Location: <strong><u>@Model.EmployeeInfo.StoreNumber</u></strong>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center" style="display: block; margin: 0 auto; max-width:500px">
                <p class="lead">
                    Time: @DateTime.Now.ToLocalTime().ToString()
                    <br />
                    Employee: @Model.EmployeeInfo.FirstName @Model.EmployeeInfo.LastName
                </p>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item red">
                <h4 class="list-group-item-heading" style="color:white"><i class="fa fa-money"></i>  80/20 Report</h4>
            </a>
            <a href="/LaborReports/Labor8020View" class="list-group-item">
                <h4 class="list-group-item-heading"><i class="fa fa-file-o"></i>  80/20 Report - View</h4>
                <p class="list-group-item-text">80/20 Report - View</p>
            </a>
            <a href="/LaborReports/Labor8020Search" class="list-group-item">
                <h4 class="list-group-item-heading"><i class="fa fa-file-o"></i>  80/20 Report - Search</h4>
                <p class="list-group-item-text">80/20 Report - Search</p>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item red">
                <h4 class="list-group-item-heading" style="color:white"><i class="fa fa-money"></i>  Labor Summary Report</h4>
            </a>
            <a href="/LaborReports/LaborSummaryView" class="list-group-item">
                <h4 class="list-group-item-heading"><i class="fa fa-file-o"></i>  Labor Summary Report - View</h4>
                <p class="list-group-item-text">Labor Summary Report - View</p>
            </a>
            <a href="/LaborReports/LaborSummarySearch" class="list-group-item">
                <h4 class="list-group-item-heading"><i class="fa fa-file-o"></i>  Labor Summary Report - Search</h4>
                <p class="list-group-item-text">Labor Summary Report - Search</p>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item red">
                <h4 class="list-group-item-heading" style="color:white"><i class="fa fa-money"></i>  Overtime Report</h4>
            </a>
            <a href="/LaborReports/OvertimeView" class="list-group-item">
                <h4 class="list-group-item-heading"><i class="fa fa-file-o"></i>  Overtime Report - View</h4>
                <p class="list-group-item-text">Overtime Report - View</p>
            </a>
            <a href="/LaborReports/OvertimeSearch" class="list-group-item">
                <h4 class="list-group-item-heading"><i class="fa fa-file-o"></i>  Overtime Report - Search</h4>
                <p class="list-group-item-text">Overtime Report - Search</p>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item red">
                <h4 class="list-group-item-heading" style="color:white"><i class="fa fa-money"></i>  Time Clock Detail Report</h4>
            </a>
            <a href="/LaborReports/TimeClockDetailView" class="list-group-item">
                <h4 class="list-group-item-heading"><i class="fa fa-file-o"></i>  Time Clock Detail Report - View</h4>
                <p class="list-group-item-text">Time Clock Detail Report - View</p>
            </a>
            <a href="/LaborReports/TimeClockDetailSearch" class="list-group-item">
                <h4 class="list-group-item-heading"><i class="fa fa-file-o"></i>  Time Clock Detail Report - Search</h4>
                <p class="list-group-item-text">Time Clock Detail Report - Search</p>
            </a>
        </div>
    </div>
</div>

