@model D_Squared.Web.Models.ErrorViewModel
<div class="row">
    <br />
    <br />
    There was no Employee Record found with the identity "@Model.Username"
    <br />
    <br />
    Please contact the IT service desk if this error persists.
</div>
