<div class="modal fade" id="helpModal2" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Daily Deposits Help Document</h3>
            </div>
            <div class="modal-body " style="font-size:14px">
                <p style="font-size:20px;">
                    <strong>
                        D<sup>2</sup> – DAILY DEPOSITS
                    </strong>
                </p>
                <br />
                <p style="font-size:16px;">
                    <strong>
                        Cash deposits and change order returns should be entered into the D<sup>2</sup>
                        application at the beginning of each
                        day for the previous day.  All deposits for the week should be
                        entered no later than _____ on Monday (?).
                    </strong>
                </p>
                <br />
                <ol>
                    <li>
                        <p>Open your Internet browser, navigate to <a href="http://d2.millersalehouse.com">http://d2.millersalehouse.com</a></p>
                        <ul>
                            <li>
                                <p><i><u>Note:</u> it is recommended to save this website as a Favorite for easy access in the future.</i></p>
                                <p style="color:red"><i>Will the stores already have login credentials or will they be automatically taken to their store?</i></p>
                            </li>
                        </ul>
                        <br />
                    </li>
                    <li>
                        Take note of the restaurant number and period (week) ending date indicated in the heading of the Daily Deposits screen. If either is incorrect, contact the IT Service Desk at 407-581-3366 or <a href="mailto:ITService@millersalehouse.com">ITService@millersalehouse.com</a>
                        <br />
                        <br />
                    </li>
                    <li>
                        Input Cash Deposits and Change Order Returns (if applicable) for the appropriate day.
                        <ul>
                            <li>
                                <p><i><u>Note:</u> Cash Deposits include all cash deposits other than change order returns.</i></p>
                            </li>
                        </ul>
                        <br />
                    </li>
                    <li>
                        Click on <i>‘Save Changes.’</i>
                        <br />
                        <br />
                    </li>
                    <li>
                        Repeat steps 1) through 4) at the beginning of each day for the previous day’s deposits and change order returns.
                        <br />
                        <br />
                    </li>
                    <li>
                        Deposits for the week will be automatically transmitted into Microsoft Dynamics AX (general ledger system) every Monday (?) (when?). Therefore, <strong>it is imperative that all deposits for the week have been entered and saved no later than _______.</strong>
                        <br />
                        <br />
                    </li>
                    <li>
                        Contact the IT Service Desk for any issues at the phone number or email address noted in 2) above.
                        <br />
                        <br />
                    </li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
